body {
    margin: 1px 0px;
    color: #23527c;
    position: relative;
  }
  .popUp {
    position: absolute;
    z-index: 1000;
    top:0;
    height: 100%;
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .frame {
    border: 2px solid #000;
    border-radius: 25px;
    overflow: hidden;
    height: 50%;
    width: 35%;
  }

  .head {
    height: 18%;
    width: 100%;
  }
  .front{
    border: 2px solid #000;
    /* background-image: url("C:\Users\kukaa\OneDrive\Desktop\Licence\setup.png");
    background-size: 100% 100%;  */
    padding: 10px;
    display: flex;
    justify-self: center;
    align-items: center;
    z-index: 100;
    position: relative;;
  }

  .front .bgimg{
    z-index: -100;
    position:absolute ;
  }

  .left-part{
    padding-top:20px ;
    width:35%;
    height: 100%;
  }
  .left-top{
    height:40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .photo-left{
    width: 60%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .photo-right{
    width: 50%;
    padding-top: 15px;
  height:100%;
  line-height: 1px;
  font-size: 15px;
  color:#000;
  font-weight: 500;
 
  }
  .details{
    font-weight: bold;
  }
  .left-bottom{
    height:60%;
    padding-top: 5px;;

  }

  .right-part{
    width:65%;
    font-size: 14px;
    height: 100%;
    padding: 12px 0px 0px 0px;
    color:black;
    line-height: 1px;
  }
  .validity{
    font-weight: 500;
    font-size: 14px;
    sup{
      font-size: 14px;
      font-weight: 700;
    }
  }
  .carr{
      font-weight: 700;
      font-size: 15px;
  }

  .trs{
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-size: 13px;
    text-align: right;
    padding-right: 20px;
    font-weight:bold;
  }



  .issueBox{
    /* border:1px solid red; */
    height:20px;
    font-weight: 500;
    padding-top: 5px;
  }

  table{

    width: 90%;
    border:hidden;
    font-size:11px;
    font-weight: bold;
    color:#000;
    font-family: elephant;
    }
  
  th {
    border: 1px solid #dddddd;
    text-align: left;
    border:hidden;
    font-weight: bold;
    color:#000;
  }
  
.signatures{
  padding-top: 18px;
  height:50px;
  font-size: 13px;
  line-height: 5px;
  text-align: right;
  display: flex;
  width:90%;
  justify-content:center;

}
.HRMain{
  position: absolute;
  right:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  top:140px;
}
.hr{
  border:4px solid #000;
  height: 45px;
  width:45px;
  border-radius: 100%;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  top:550px;
}
.form{
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-left: 10px;
  font-size: 18px;
}


input,select{
  text-transform: capitalize;
  height:50px;
  width:250px;
  margin: 10px;
  border: none;
  padding-left: 10px;
  border-bottom:1px solid black;
  outline:none;
  border-radius: 5px;
  background-color: rgb(237, 233, 233);
}
input::placeholder{
  color:#000;
}
 
.mainBox{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  box-sizing: border-box;
}

  button {
    background-image: linear-gradient(
      to right,
      rgb(2, 13, 81),
      rgb(25, 176, 220)
    );
    color: #fff;
    padding: 10px;
    margin: 10px;
    width: 130px;
    font-weight: bold;
    border-radius: 10px;
  }

  
  @media only screen and (max-width: 700px) {
  
    .heading {
      font-size: 19px;
    }
  
  
  }
  
  @media print {
  
  
    .popUp{
      display: block;
    }

    .frame{
      width:79%;
      height:38%;
      border: 3px solid #fff;
    }
    button{
      display: none;
    }



  }


  
  